n8n/workflows/data-analysis-main.json
{
  "name": "DataAgent - Analysis Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analysis-trigger",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "analysis-trigger-webhook-dataagent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "header-auth-cred",
          "name": "N8N Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nreturn [{\n  json: {\n    jobId: body.jobId,\n    fileUrl: body.fileUrl,\n    callbackUrl: body.callbackUrl,\n    prompt: body.prompt || 'Phân tích dữ liệu và chỉ ra các xu hướng chính'\n  }\n}];"
      },
      "id": "node-0",
      "name": "Parse Webhook Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.fileUrl }}",
        "options": {}
      },
      "id": "node-2",
      "name": "Fetch Parsed Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $json;\nconst headers = parsed.headers || [];\nconst rows = parsed.rows || [];\n\nconst sampleRows = rows.slice(0, 100).map(row => {\n  const obj = {};\n  headers.forEach((h, i) => { obj[h] = row[i] || ''; });\n  return obj;\n});\n\nconst webhookData = $('Parse Webhook Body').first().json;\n\nreturn [{\n  json: {\n    jobId: webhookData.jobId,\n    callbackUrl: webhookData.callbackUrl,\n    prompt: webhookData.prompt,\n    headers: headers,\n    sampleRows: sampleRows,\n    fullData: rows\n  }\n}];"
      },
      "id": "node-4",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers;\nconst sampleRows = $json.sampleRows.slice(0, 5);\nconst prompt = $json.prompt;\n\nconst textPrompt = `Bạn là data analyst chuyên nghiệp. Phân tích schema CSV và sinh Python code dùng pandas + matplotlib.\nSchema columns: ${JSON.stringify(headers)}\nSample data (first 5 rows): ${JSON.stringify(sampleRows)}\nCâu hỏi phân tích: ${prompt}\n\nHãy trả về một JSON object (KHÔNG bọc trong markdown code block), với format chính xác:\n{ \"chartType\": \"bar|line|pie|scatter\", \"pythonCode\": \"...python code...\", \"analysisDescription\": \"...mô tả ngắn...\" }`;\n\nconst payload = {\n  contents: [\n    {\n      parts: [\n        { text: textPrompt }\n      ]\n    }\n  ],\n  generationConfig: {\n    maxOutputTokens: 2048,\n    temperature: 0.3\n  }\n};\n\nreturn [{ json: { geminiPayload: JSON.stringify(payload) } }];"
      },
      "id": "node-4b",
      "name": "Build Gemini Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "id": "node-5",
      "name": "Gemini Generate Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "let text = $json.candidates[0].content.parts[0].text;\ntext = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    throw new Error('Cannot parse Gemini response: ' + text.substring(0, 200));\n  }\n}\n\nconst previous = $('Format Data').first().json;\nreturn [{\n  json: {\n    ...previous,\n    chartType: parsed.chartType,\n    pythonCode: parsed.pythonCode,\n    analysisDescription: parsed.analysisDescription\n  }\n}];"
      },
      "id": "node-6",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://chart-service:8000/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"code\": {{ JSON.stringify($json.pythonCode) }},\n  \"data\": {{ JSON.stringify($json.fullData) }},\n  \"headers\": {{ JSON.stringify($json.headers) }},\n  \"job_id\": \"{{ $json.jobId }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-7",
      "name": "Execute Chart Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const stats = $json.stats || {};\nconst analysisDesc = $('Parse Gemini JSON').first().json.analysisDescription || '';\n\nconst textPrompt = `Bạn là chuyên gia phân tích dữ liệu. Dựa vào kết quả thống kê sau đây, hãy viết một bản insights phân tích bằng tiếng Việt (3-5 đoạn văn), dễ hiểu cho người không chuyên kỹ thuật:\n\nKết quả thống kê: ${JSON.stringify(stats)}\n\nMô tả phân tích: ${analysisDesc}`;\n\nconst payload = {\n  contents: [\n    {\n      parts: [\n        { text: textPrompt }\n      ]\n    }\n  ],\n  generationConfig: {\n    maxOutputTokens: 1024,\n    temperature: 0.5\n  }\n};\n\nreturn [{ json: { geminiPayload: JSON.stringify(payload) } }];"
      },
      "id": "node-8a",
      "name": "Build Insights Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "id": "node-8",
      "name": "Gemini Write Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 300],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://chart-service:8000/build-pdf",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"job_id\": \"{{ $('Format Data').first().json.jobId }}\",\n  \"charts\": {{ JSON.stringify($('Execute Chart Code').first().json.charts || []) }},\n  \"insights\": {{ JSON.stringify($json.candidates[0].content.parts[0].text) }},\n  \"title\": \"DataAgent Analysis Report\",\n  \"stats\": {{ JSON.stringify($('Execute Chart Code').first().json.stats || {}) }},\n  \"prompt\": {{ JSON.stringify($('Format Data').first().json.prompt) }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-9",
      "name": "Build PDF Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = process.env.CALLBACK_HMAC_SECRET || 'SUPER_SECRET_HMAC_KEY_123456789012345';\n\nconst jobId = $('Format Data').first().json.jobId;\nconst pdfUrl = $json.pdfUrl;\n\nconst payload = JSON.stringify({\n  JobId: jobId,\n  Status: 2,\n  Progress: 100,\n  CurrentStep: 'finalize',\n  Message: 'Analysis Completed Successfully',\n  ResultUrl: pdfUrl\n});\n\nconst signature = crypto.createHmac('sha256', secret).update(payload).digest('base64');\n\nreturn [{\n  json: {\n    CallbackUrl: $('Format Data').first().json.callbackUrl,\n    PayloadString: payload,\n    Signature: signature\n  }\n}];"
      },
      "id": "node-10",
      "name": "Sign Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.CallbackUrl }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.PayloadString }}",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Callback-Signature",
              "value": "={{ $json.Signature }}"
            }
          ]
        }
      },
      "id": "node-11",
      "name": "Send Success Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2880, 300]
    },
    {
      "parameters": {},
      "id": "node-12",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "jsCode": "let webhookData = null;\ntry {\n  webhookData = $('Parse Webhook Body').first().json;\n} catch (e) {}\n\nif (!webhookData || !webhookData.callbackUrl) return [];\n\nconst crypto = require('crypto');\nconst secret = process.env.CALLBACK_HMAC_SECRET || 'SUPER_SECRET_HMAC_KEY_123456789012345';\nconst errorMessage = $json.execution?.error?.message || 'Unknown workflow error';\n\nconst payload = JSON.stringify({\n  JobId: webhookData.jobId,\n  Status: 3,\n  Progress: 0,\n  CurrentStep: 'error',\n  Message: errorMessage,\n  ResultUrl: null\n});\n\nconst signature = crypto.createHmac('sha256', secret).update(payload).digest('base64');\n\nreturn [{\n  json: {\n    CallbackUrl: webhookData.callbackUrl,\n    PayloadString: payload,\n    Signature: signature\n  }\n}];"
      },
      "id": "node-13",
      "name": "Sign Error Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.CallbackUrl }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.PayloadString }}",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Callback-Signature",
              "value": "={{ $json.Signature }}"
            }
          ]
        }
      },
      "id": "node-14",
      "name": "Send Error Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 560]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Webhook Body", "type": "main", "index": 0 }]]
    },
    "Parse Webhook Body": {
      "main": [[{ "node": "Fetch Parsed Data", "type": "main", "index": 0 }]]
    },
    "Fetch Parsed Data": {
      "main": [[{ "node": "Format Data", "type": "main", "index": 0 }]]
    },
    "Format Data": {
      "main": [[{ "node": "Build Gemini Payload", "type": "main", "index": 0 }]]
    },
    "Build Gemini Payload": {
      "main": [[{ "node": "Gemini Generate Code", "type": "main", "index": 0 }]]
    },
    "Gemini Generate Code": {
      "main": [[{ "node": "Parse Gemini JSON", "type": "main", "index": 0 }]]
    },
    "Parse Gemini JSON": {
      "main": [[{ "node": "Execute Chart Code", "type": "main", "index": 0 }]]
    },
    "Execute Chart Code": {
      "main": [[{ "node": "Build Insights Payload", "type": "main", "index": 0 }]]
    },
    "Build Insights Payload": {
      "main": [[{ "node": "Gemini Write Insights", "type": "main", "index": 0 }]]
    },
    "Gemini Write Insights": {
      "main": [[{ "node": "Build PDF Report", "type": "main", "index": 0 }]]
    },
    "Build PDF Report": {
      "main": [[{ "node": "Sign Callback", "type": "main", "index": 0 }]]
    },
    "Sign Callback": {
      "main": [[{ "node": "Send Success Callback", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Sign Error Callback", "type": "main", "index": 0 }]]
    },
    "Sign Error Callback": {
      "main": [[{ "node": "Send Error Callback", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  }
}
